---
import { RESOURCE_ROOT } from '../config';
import BaseLayout from '../layouts/BaseLayout.astro';
import HorizontalCard from '../components/HorizontalCard.astro';

const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>
  <div class="pb-12 mt-5">
    <div
      class="hero min-h-[350px] place-items-end"
      style={`background-image: url(${RESOURCE_ROOT}/social_image.jpg);`}
    >
      <div class="hero-overlay bg-opacity-60"></div>
      <div class="hero-content text-neutral-content">
        <div class="max-w-md">
          <h1 class="mb-5 text-5xl font-bold">Scott Vossen</h1>
          <p>
            <text class="text-lg">
              I'm currently a Senior Engineer at Microsoft, leading the
              Nonprofit Offers team which owns the Microsoft Cloud for
              Nonprofits. I'm interested in full stack development, monitoring
              and analytics, system architecture, and developer productivity.
            </text>
          </p>
          <p>
            <text class="text-sm">
              Specialties: Azure, .NET (C#), Typescript, DevOps, Automation
            </text>
          </p>
          <div class="mt-8">
            <a
              class="btn"
              href="mailto:contact.scottvosseng@gmail.com"
              target="_blank"
            >
              Let's connect!</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Featured Projects</div>
  </div>

  <!-- <HorizontalCard
    title="Rokugan Map"
    img={`${RESOURCE_ROOT}/projects/rokugan-map.png`}
    desc='An interactive map of Rokugan, from The Legend of the Five Rings fantasy world. <a class="btn" href="https://github.com/scottvossen/rokugan-map" target="_blank">Source code.</a>'
    url="https://scottvossen.github.io/rokugan-map/"
    badge="NEW"
  />
  <div class="divider my-0"></div> -->
  <HorizontalCard
    title="Rokugan Map"
    desc="An interactive map of Rokugan, from The Legend of the Five Rings fantasy world."
    img={`${RESOURCE_ROOT}/projects/rokugan-map.png`}
    url="https://scottvossen.github.io/rokugan-map/"
  >
    <a
      class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
      href="https://github.com/scottvossen/rokugan-map"
      target="_blank">View the source code</a
    >
  </HorizontalCard>
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Dragonlance Moon Tracker"
    desc="A moon tracker from Krynn, a fantasy world from the Dragonlance fantasy series by Weiss and Hickman."
    img={`${RESOURCE_ROOT}/projects/krynn-moon-tracker.png`}
    url="https://scottvossen.github.io/dragonlance-moon-tracker/"
  >
    <a
      class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
      href="https://github.com/scottvossen/dragonlance-moon-tracker"
      target="_blank">View the source code</a
    >
  </HorizontalCard>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest Blogs</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.frontmatter.title}
          img={post.frontmatter.heroImage}
          desc={post.frontmatter.description}
          url={post.url}
          target="_self"
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
